.App {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  /* justify-content: space-around; */
  align-items: center;
}

.scoreBoard
{
  margin-top: 60px;
  height: 60vh;
  /* width: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;

  background-color:rgba(0, 0, 0, 0.934);
}

.adminControlls
{
  display: flex;
  flex-direction: column;
  /* width: 250px; */
  justify-content: space-around;
}

.score,.overs
{
  display: flex;
  justify-content: center;
  align-items: center;
  color:white;
}

.extras
{
  display: flex;
  align-items: center;
  background-color: aqua;
  flex-direction: column  ;
}
